venv/
.venv/
__pycache__/
*.pyc
.docker/
storage/

.env
CLAUDE.md

app/modules/tablas_dinamicas/PruebaExcepciones.py
app/modules/tablas_dinamicas/PruebaPivot.py
app/modules/tablas_dinamicas/PruebaExcepciones.py
app/modules/tablas_dinamicas/PruebaPivot.py
